{% extends "passenger_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Passenger Module{% endblock %}
{% block content %}
<div class="container">
    <h2>Passenger DetailView</h2>
    <form action="{% url 'passenger detailview' id=passenger.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ passenger.id }}" name='id'>
        {{ form | crispy }}
        </br>
        <input class="btn btn-info" type="submit" value="Submit">
    </form>
</div>
{% endblock %}