{% extends "passenger_base.html" %}
{% block title %}Passenger Module{% endblock %}
{% block content %}
<div class="container">
    </br>
    <a class="btn btn-info" href="{% url 'passenger add' %}">Add New</a>
    <table class="table">
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        {% for passenger in passengers %}
        <tr>
            <td>{{ passenger.surname }}</td>
            <td>{{ passenger.name }}</td>
            <td>{{ passenger.address }}</td>
            <td>{{ passenger.phone }}</td>
            <td>
                <a class="btn btn-info" href="view/{{ passenger.id }}">Detail View</a>
                <a class="btn btn-danger" href="delete/{{ passenger.id }}">Delete Item</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}