{% extends "staff_base.html" %}
{% block title %}Staff Module{% endblock %}
{% block content %}
<div class="container">
    </br>
    <a class="btn btn-info" href="{% url 'staff add' %}">Add New</a>
    <table class="table">
        <tr>
            <th>Employee Number</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Rating</th>
            <th>Is Pilot?</th>
            <th>Actions</th>
        </tr>
        {% for staff in staffs %}
        <tr>
            <td>{{ staff.employee_number }}</td>
            <td>{{ staff.surname }}</td>
            <td>{{ staff.name }}</td>
            <td>{{ staff.address }}</td>
            <td>{{ staff.phone }}</td>
            <td>{{ staff.salary }}</td>
            <td>{{ staff.get_rating_display | default:"None"}}</td>
            <td>{{ staff.is_pilot }}</td>
            <td>
                <a class="btn btn-info" href="view/{{ staff.id }}">Detail View</a>
                <a class="btn btn-danger" href="delete/{{ staff.id }}">Delete Item</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}